.header {
    width: 100%;
    height: auto;
    color: whitesmoke;
    font-size: 14px;
}
.sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.764);
    z-index: 200;
    transition: 0.7s;
    display: none;
}
.sidecontent {
    position: absolute;
    width: 0%;
    visibility: hidden;
    max-width: 100%;
    transition: 0.85s;
    height: 100%;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 201;
    padding: 20px 40px;
    color: black;
}
.close {
    position: absolute;
    top: 20px;
    right: 55px;
    color: black;
    font-size: 40px;
    font-weight: 200;
}
.sidecontent ul {
    width: 100%;
    margin: 70px 0;
}
.sidecontent ul li {
    width: 100%;
    padding: 20px;
    height: 60px;
    font-weight: bold;
    list-style-type: none;
    border-bottom: 1px solid #f1f1f3;
    display: flex;
    font-size: medium;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.sidecontent ul li i {
    font-weight: 500;
    font-size: 20px;
}
.headerOne {
    width: 100%;
    height: 55px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 60px;
    
}
.headerOne > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
 
}
.headerOne > div > div {
    margin-left: 20px;
}
.headerOne > div  i {
    margin-right: 10px;
    color: #FFB703;
}
.headerOne > div:nth-child(2)  i {
    margin-left: 10px;
    color: white;
}
.headerTwo {
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 60px;
    
}
.headerTwo > div {
    position: relative;
    width: fit-content;
}
.headerTwo > div:nth-child(1) {
    width: 235.8px;
    height: 44.0px;
}
.headerTwo > div ul li {
    display: inline-block;
    margin: 0 15px;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}
.headerTwo > div ul li:nth-child(1) {
    color: #FFB703;
}
.headerTwo > div > div {
    display: inline;
}
.headerTwo > div > div:last-child {
    width: fit-content;
    padding: 20px 25px;
    background-color: #FFB703;
    margin-left: 20px;
}
.bars {
    display: none;
}
@media screen and (max-width:1153px) {
    .headerOne {
        padding: 0 10px;
    }
    .headerTwo {
        padding: 0 30px;
    }
}
@media screen and (max-width:1051px) {
    .headerOne {
        display: none;
    }
}
@media screen and (max-width:1007px) {
    .headerTwo {
        padding: 0 15px;
    }
}
@media screen and (max-width:987px) {
    .links, .search {
        display: none;
    }
    .sidebar {
        display: block;
    }
    .headerTwo {
        padding: 0 80px;
    }
    .headerTwo > div:nth-child(1) {
        transform: scale(0.8);
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: 40px;
        color: #FFB703;
    }
}
@media screen and (max-width:750px) {
    .headerTwo {
        padding: 0 40px;
    }
    .headerTwo > div:nth-child(1) {
        transform: scale(0.7);

    }
    .bars i {
        font-size: 30px;
    }
}
@media screen and (max-width:470px) {
    .headerTwo > div:nth-child(1) {
        transform: scale(0.6) translateX(-100px);
    }
    /* .headerTwo {
        padding: 0 10px;
    } */
}
@media screen and (max-width:440px) {
    .sidecontent {
        width: 95% !important;
    }
}