.reviews {
  background-color: #e8eaee;
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 120px;
}
.reviews h2 {
  font-size: 35px;
  margin: 15px 10px;
}
.reviews span {
  font-weight: bold;
  margin-left: 25px;
}
.grid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 595px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.grid > div {
  width: 48%;
  height: 100%;
  max-width: 600px;
  position: relative;
}
.slide {
  background-color: white;
  margin-top: 30px;
  width: 100%;
  pointer-events: none;
  height: 490px;
  position: relative;
  scroll-behavior: smooth;
}
.slide2 {
  background-color: white;
  margin-top: 30px;
  width: 100%;
  pointer-events: none;
  height: 470px;
  position: relative;
  scroll-behavior: smooth;
  padding: 25px;
}
.carousel {
  width: 100%;
  height: 82%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.slide2 strong {
  display: block;
  margin: 13px 5px;
  font-size: 18.5px;
}
.slide2 p {
  margin-left: 8px;
  font-size: 17px;
}
.carousel > div:nth-child(1) {
  width: 60%;
  height: 100%;
  border-radius: 9px;
  background-image: url("/images/tm2.jpeg");
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in;
}
.carousel > div:nth-child(2) {
  width: 35%;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.carousel > div:nth-child(2) > div:nth-child(1) {
  margin-top: 0;
}
.carousel > div:nth-child(2) > div {
  position: relative;
  border-radius: 9px;
  min-width: 100%;
  min-height: 160px;
  overflow: hidden;
  margin-top: 20px;
}
.slide > div {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.slide > div span {
  font-size: 65px;
  display: block;
  margin-top: 15px;
  color: #ffb703;
}
.slide > div p {
  padding: 30px 40px;
  line-height: 2;
  font-size: 17.5px;
}
.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 55px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 9;
}
.buttons > div {
  width: 45%;
  height: 100%;
  background-color: #ffb703;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.buttons > div:hover {
  background-color: black;
  color: white;
}
.profile {
  margin-top: 0px;
  margin-left: 30px;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.capt {
  padding: 20px 40px;
  transition: all 1s;
}
.capt div {
  transition: all 1s;
}
.capt strong {
  display: block;
  margin-bottom: 15px;
  font-size: 17.5px;
  transition: all 1s;
}
@media screen and (max-width: 995px) {
  .reviews {
    /* height: 1400px; */
  }
  .grid {
    display: block;
    width: 80%;
    height: fit-content;
  }
  .grid > div {
    width: 85%;
    margin: 100px auto;
    position: relative;
  }
  .slide {
    height: 480px;
  }
  .slide2 {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .slide {
    height: 500px;
  }
  .grid {
    width: 90%;
  }
}
@media screen and (max-width: 651px) {
  .slide2 {
    height: 450px;
  }
  .grid {
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .slide2 {
    height: 490px;
    padding: 0;
  }
  .slide {
    height: fit-content;
    padding: 30px 0;
  }
  .slide > div p {
    padding: 10px 30px;
    line-height: 2;
    font-size: 15.5px;
  }
  .reviews h2 {
    font-size: 27px;
    margin: 15px 10px;
  }
  .grid > div {
    width: 93%;
    margin: 90px auto;
    position: relative;
  }
  .carousel > div:nth-child(2) > div {
    position: relative;
    border-radius: 9px;
    min-width: 100%;
    min-height: 180px;
    overflow: hidden;
    margin-top: 20px;
  }
  .capt strong {
    font-size: 15px;
    margin: 10px 0;
    padding-left: 10px;
  }
  .capt div {
    padding-left: 10px;
  }
}
@media screen and (min-width:1500px) {
  .grid {
    justify-content: space-around;
  }
}
@media screen and (max-width:454px) {
  .carousel > div:nth-child(2) {
    display: none;
  }
  .slide2 {
    height: 500px;
  }
  
  .carousel > div:nth-child(1) {
    width: 100%;
  }
  .carousel {
    padding: 30px;
  }
  .capt {
    padding: 5px 12px;
  }
}
