.products {
    width: 100%;
    height: auto;
    background: #E8EAEE;
    padding: 10px;
    padding-top: 60px;
    min-height: auto;
    max-height:1200px;
    padding-bottom: 90px;
    font-size: 19px;
    position: relative;
    transition: 0.7s;
}
.caption {
    text-align: center;
    transition: 0.5s;
    transform: translateY(80px);
    opacity: 0;
}
.addWidth {
    transform: translateY(0);
    opacity: 1;
}
.caption h2 {
    font-size: 35px;
    margin-top: 25px;
}
.grid {
    width: 90%;
    height: auto;
    margin: 60px auto;
    display: flex;
    flex-flow: row wrap;
    
}

.grid > div {
    width: 350px;
    height: 340px;
    margin-top: 40px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.addWidths {
    transform: translateY(0);
    opacity: 1;
}

.grid > div:hover  {
    transform: scale(1.04);
}
.tab {
    position: absolute;
    width: 100%;
    height: 85px;
    z-index: 20;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-weight: bolder;
    transition: 0.45s;
    opacity: 1;

}
.tab span {
    margin-left: 20px;
    margin-top: 15px;
}
.tab span > span {
    margin-top: 8px;
    margin-left: 0;
    display: block;
    font-size: 16px;
}
.icon {
    float: right;
    width: 90px;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #FFB703;
}
.icon > div {
    width: 60%;
    height: 60%;
    position: relative;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.55s;
    opacity: 0;
}

.capt {
    font-weight: lighter;
    font-size: 15.5px;
    line-height: 1.4;
    width: 80%;
    color: #ccc;
    text-align: center;
}
.icon2 {
    position: relative;
    width: 50px;
    height: 50px;

}
.overlay > div:nth-child(1) {
    width: 80px;
    height: 80px;
    background-color: #FFB703;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay > div {
    margin: 5px 0;
}
.overlay > div:last-child {
    color: black;
    background-color: #FFB703;
    padding:12px 15px;
    margin: 30px 0;
    font-size: 15px;
}
.tile {
    width: 80%;
    height: auto;
    margin: 40px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 0;

}
.tile > div {
    width: fit-content;
    height: 60px;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    padding: 0 35px;
    cursor: pointer;
    transition: 0.6s;
    transform: translateX(70px);
    opacity: 0;
}

.addWidth {
    transform: translateX(0) !important;
    opacity: 1 !important;
}
.tile > div:nth-child(1) {
    background-color: #FFB703;
    color: black;
}
@media screen and (max-width:1200px) {
    .tile {
        width: 95%;
    }
    .products {
        max-height:fit-content;
    }
} 
@media screen and (max-width:981px)  {
    .tile {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin: auto;
        margin-top: 30px;
    }
    .tile > div {
        margin: 15px 0;
        width: 230px;
    }

}  
@media screen and (max-width:830px) {
    .grid {
        width: 100%;
        justify-content: space-between;
    }
}
@media screen and (max-width:744px) {
    .grid {
        width: 100%;
        justify-content: space-between;
    } 
    .grid > div {
        width: 325px;
        height: 350px;
    }
}
@media screen and (max-width:744px) {

}
@media screen and (max-width:673px) {
    .grid {
        justify-content: center;
    }
    .grid > div {
        margin-left: 0;
    }
}