.contact {
    width: 100%;
    height:auto;
    background-color: #EFF0F4;
    background-image: url('/images/contact-bg33.jpeg');
    background-size: cover;;
    background-position: bottom;
    padding:35px 40px;
    display: flex;
    align-items: center;
    padding-top: 70px;
}
.grid {
    display: flex;
    width: 100%;
    height: 80%;
    flex-flow: row wrap;
    justify-content: space-between;
}
.grid > div {
    width: 48%;
    height: 100%;
}
.grid > div span {
    font-weight: bold;
    margin-left: 20px;
}
.grid h2 {
    font-size: 35px;
    margin: 10px 0;
}
.grid > div form {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    padding-bottom: 60px;
}
.grid > div form textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 20px 20px;
    background-color: white;
}
.formgroup {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 30px 0;
}
.formgroup input {
    height: 100%;
    width: 48%;
    background-color: white;
    border: none;
    outline: none;
    padding: 20px 12px;
}
.formgroup input::placeholder, .grid > div form textarea::placeholder {
    color: #A8A8A8;
}
.grid > div:nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.grid > div:nth-child(2) > div  {
    height: 158px;
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    margin: 10px 0;
}
.grid > div:nth-child(2) > div p { 
    font-weight: lighter;
    margin: 10px 0;
}
.icons {
    position: relative;
    width: 40px;
    height: 40px;
}
@media screen and (max-width:850px){
    .grid {
        flex-flow: column wrap;
    }
    .grid > div {
        width: 100%;
    }
    .grid > div:nth-child(1) {
        margin-bottom: 60px;
    }
    .contact {
        padding: 35px 12px;
    }
    .contact h2 {
        font-size: 24px;
    }
    .formgroup {
        height: fit-content;
        flex-flow: column wrap;
        margin: 10px 0;
    }
    .formgroup input {
        width: 100%;
        margin: 10px 0;
    }
    .grid > div form textarea{
        height: 160px;
    }
}