.products {
    width: 100%;
    height: auto;
    background: #E8EAEE;
    padding: 10px;
    padding-top: 60px;
    /* min-height: 1100px; */
    font-size: 19px;
    position: relative;
}
.caption {
    text-align: center;
    transition: 0.5s;
    transform: translateY(80px);
    opacity: 0;
} 
.addWidth {
    transform: translateY(0);
    opacity: 1;
}
.caption h2 {
    font-size: 35px;
    margin-top: 25px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    width: 90%;
    height: auto;
    /* transform: translate(-50%); */
    /* left: 50%; */
    margin: 60px auto;
    /* position: absolute; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.grid > div {
    width: 350px;
    height: 340px;
    margin-top: 40px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    transform: translateX(80px);
    opacity: 0;
}
.grid > div.addWidth {
    transform: translateX(0);
    opacity: 1;
}
.grid > div:hover .overlay {
    opacity: 1;
}
.grid > div:hover .tab {
    right: -100%;
    opacity: 0;
}
.tab {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 20;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    transition: 0.45s;
    opacity: 1;
}
.tab span {
    margin-left: 60px;
}
.icon {
    float: right;
    width: 70px;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #FFB703;
}
.icon > div {
    width: 60%;
    height: 60%;
    position: relative;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.55s;
    opacity: 0;
}

.capt {
    font-weight: lighter;
    font-size: 15.5px;
    line-height: 1.4;
    width: 80%;
    color: #ccc;
    text-align: center;
}
.icon2 {
    position: relative;
    width: 50px;
    height: 50px;

}
.overlay > div:nth-child(1) {
    width: 80px;
    height: 80px;
    background-color: #FFB703;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay > div {
    margin: 5px 0;
}
.overlay > div:last-child {
    color: black;
    background-color: #FFB703;
    padding:12px 15px;
    margin: 30px 0;
    font-size: 15px;
}

@media screen and (max-width:1125px) {
    .grid > div {
        width: 450px;
        height: 420px;
        margin-top: 40px;
    }

    .grid {
        width: 90%;
    }
}
@media screen and (max-width:1033px) {
    .grid > div {
        width: 400px;
        height: 390px;
        margin-top: 40px;
    }
}
@media screen and (max-width:923px) {
    .grid {
        width: 85%;
    }
    .grid > div {
        width: 350px;
        height: 360px;
        margin-top: 40px;
    }
}
@media screen and (max-width:842px)  {
    .grid > div {
        flex:100%;
        height: 430px;
    }
    .grid {
        width: 65%;
       
    }

}
@media screen and (max-width:842px)  {
    .grid {
        width: 90%;
    }

    .grid > div {
        height: 470px;
    }
}

@media screen and (max-width:425px) {
    .grid > div {
        height: 400px;
        max-width: 450px;
    }
    .grid {
        width: 94%;
    }

    .caption h2 {
        font-size: 26px;
        margin-top: 15px;
        width: 100%;
    }
}
@media screen and (max-width:380px) {
    .grid > div {
        height: 350px;
        max-width: 450px;
    }
}